/* ---------------------------------------------------------------- */
/* 02.Typography                               
/* ---------------------------------------------------------------- */
h1, h2, h3, h4, h5, h6 {
    font : {
        family: $font_heading;
        weight: 700;
    }
    color: $color_dark;   
    margin: 0;
    line-height: 1.5;
}
h1, .h1 {
    font : {
        size: 45px;
    }
}
h2, .h2 {
    font : {
        size: 36px;
    }
}
h3, .h3 {
    font : {
        size: 2.9rem;
    }
}
h4, .h4 {
    font : {  
        size: 2.5rem;
    }
}
h5, .h5 {
    font : {
        size: 1.467rem;
    }
}
h6, .h6 {
    font : {
        size: 16px;
    }
}
p {
    line-height: 1.8;
    margin: 0;
}

/* ---------------------------------------------------------------- */
/* Responsive Media Query
 * Extra Small devices (portrait phones, less than 575px)
/* ---------------------------------------------------------------- */
@media only screen and (max-width:575.98px) {
    h3, .h3 {
        font : {
            size: 2.1rem;
        }
    }
    h4, .h4 {
        font : {  
            size: 1.8rem;
        }
    }
}