// Fonts
$font_heading         : 'Poppins', sans-serif;
$font_text            : 'Poppins', sans-serif;

// Colors  ff3c00
$color_primary        : #ff3c00;
$color_secondary      : #0c063d;
$color_dark           : #252525;
$color_light_grey     : #f2f1fe;
$body_text            : #7C7885;
$color_white          : #fff;
$color_like_grey      : #f5f5f5;
$color_success        : #4caf50;
$color_danger         : rgb(242, 116, 116);
$color_dark_blue      : #132035;
$color_orange         : #f0932b;
$color_black          : #000;
$color_primary_light  : rgba($color_primary,0.05);
$color_soft_grey      : #e0e0e0;
$color_footer_link    : #dee2e6;
$color_grey_secondary : #eee;
$color_shadow         : rgba($color_dark,0.04);

// Transition
$trs_linear           : all 0.25s linear;