.blog-item {
    margin: 0 0 30px 0;
    transition: all 0.5s ease;
    background: $color_white;
    .blog-img {
        overflow: hidden;
        position: relative;
        img {
            transition: all 0.5s ease;
        }
        &:hover {
            img {
                transform: scale(1.1);
            }
        }
        .blog-date {
            position: absolute;
            bottom: 0;
            left: 30px;
            width: auto;
            background: $color_primary;
            padding: 15px;
            font-size: 14px;
            color: $color_white;
        }
    }
    .blog-body {
        padding: 30px;
        position: relative;
        .blog-meta {
            margin-bottom: 15px;
            a {
                font-size: 15px;
                margin-right: 10px;
                font-weight: 600;
                color: $color_dark;
                i {
                    margin-right: 10px;
                    color: $color_primary;
                }
                &:hover {
                    color: $color_primary;
                    text-decoration: underline;
                }
            }
        }
        h5 {
            margin-bottom: 20px;
            a {
                color: inherit;
                &:hover {
                    text-decoration: underline;
                    color: $color_primary;
                }
            }
        }
        .blog-link {
            color: $color_primary;
            font-weight: 600;
            &:hover {
                text-decoration: underline;
            }
            i {
                margin-left: 5px;
            }
        }
        p {
            margin-bottom: 15px;
        }
    }
    &:hover {
        box-shadow: 0 10px 15px 0 rgba($color_dark,0.1);
    }
}
#blog-grid-page, #blog-sidebar-page {
    .blog-item {
        box-shadow: 0 5px 10px 0 rgba($color_dark,0.1);
        &:hover {
            box-shadow: 0 10px 15px 0 rgba($color_dark,0.1);
        }
    }
}
.widget-sidebar {
    .sidebar-widgets {
        margin-bottom: 20px;
        .blog-search-btn {
            top: 0;
            right: 0;
            z-index: 4;
            border: none;
            width: 60px;
            outline: none;
            height: 100%;
            overflow: hidden;
            color: $color_white;
            position: absolute;
            background: $color_primary;
            transition: all 0.5s ease;
            &:hover {
                color: $color_white !important;
                background: $color_dark;
            }
        }
        .blog-search-bar {
            width: 100%;
            .search-form-control {
                width: 100%;
                display: block;
                border: none;
                padding: 20px 78px 20px 20px;
                transition: all 0.5s ease;
                background: $color_primary_light;
            }
        }
        &:last-child {
            margin-bottom: 0;
        }
    }   
    .recent-post-item {
        margin-bottom: 20px;
        &:last-child {
            margin-bottom: 0;
        }
        .recent-post-img {
            float: left;
            overflow: hidden;
            img {
                transition: all 0.5s ease;
                &:hover {
                    transform: scale(1.2);
                }
            }
        }
        .recent-post-body {
            .recent-post-title {
                margin-bottom: 14px;
                line-height: 1.5;
                font-size: 1.1rem;
                transition: all 0.25s ease;
                &:hover {
                    color: $color_primary;
                    text-decoration: underline;
                }
            }
            .recent-post-date {
                i {
                    margin-right: 8px;
                    color: $color_primary;
                }
            }
        }
    }
    .sidebar-archive-list, .sidebar-category-list {
        li {
            display: block;
            padding: 10px 10px 10px 0;
            border-bottom: 1px solid rgba($color_black,0.08);
            &:first-child {
                padding-top: 0;
            }
            &:last-child {
                border-bottom: 0;
                padding-bottom: 0;
            }
            a {
                color: $color_black;
                transition: all 0.25s ease;
                font: {
                    weight: 500;
                }
                &:before {
                    content: "";
                    background: $color_black;
                    display: inline-block;
                    margin-right: 10px;
                    vertical-align: middle;
                    transition: all 0.25s ease;
                }
                &:hover {
                    text-decoration: underline;
                }
                &:hover, &.active {
                    color: $color_primary;
                }
                &.active, &:hover {
                    &:before {
                        background: $color_primary;
                    }
                }
            }
        }
    }
    .sidebar-category-list {
        li {
            a {
                &:before {
                    height: 1px;
                    width: 10px;
                }
                &:hover {
                    &:before {
                        width: 20px;
                    }
                }
                .category-count {
                    float: right;
                }
            }
        }
    }
    .sidebar-archive-list {
        li {
            a {
                &:before {
                    height: 5px;
                    width: 5px;
                }
            }
        }
    }
    .sidebar-tags li {
        float: left;
        &:last-child {
            a {
                margin-right: 0;
            }
        }
        a {
            font-size: 14px;
            font-weight: 500;
            margin-right: 10px;
            margin-bottom: 10px;
            padding: 10px 15px;
            display: inline-block;
            color: $color_dark_blue;
            transition: all 0.5s ease;
            border: 1px solid $color_soft_grey;
            &:hover,&.active {
                background:$color_primary;
                border-color: transparent;
                color: $color_white !important;
            }
        }
    }
    .sidebar-share {
        li {
            margin-right: 10px;
            float: left;
            &:last-child {
                margin-right: 0;
            }
            a {
                width: 40px;
                height: 40px;
                color: $color_white;
                line-height: 40px;
                text-align: center;
                display: inline-block;
                transition: all 0.25s ease;
                background: $color_primary;
                &:hover {
                    color: $color_white;
                    background: $color_dark;
                }
            }
        }
    }
    .tag-widgets {
        margin-bottom: 20px;
    }
}
.blog-title-subline {
    margin-bottom: 20px;
}
.blog-post-img {
    position: relative;
    .post-date {
        bottom: 0;
        left: 0;
        width: auto;
        position: absolute;
        color: $color_white;
        span {
            display: block;
            padding: 30px;
            font-size: 25px;
            text-align: center;
            background: $color_primary;
        }
        a {
            font-size: 14px;
            padding: 20px;
            display: block;
            color: $color_white;
            background: $color_dark;
            &:hover {
                text-decoration: underline;
            }
        }
    }
}
.blog-text {
    margin-top: 20px;
    h4 {
        font-size: 2.3rem;
        margin-bottom: 20px;
    }
    .author-meta {
        margin-bottom: 20px;
        a {
            color: $color_dark;
            margin-right: 15px;
            font-weight: 600;
            transition: all 0.25s ease;
            &:after {
                content: "";
                margin-left: 15px;
                border-left:1px solid $color_primary;
            }
            &:last-child {
                margin-right: 0;
                &:after {
                    display: none;
                }
            }
            &:hover {
                color: $color_primary;
                text-decoration: underline;
            }
            span {
                color: $color_primary;
                display: inline-block;
                margin-right: 15px;
            }
        }
    }
    p {
        margin-bottom: 20px;
    }
    blockquote {
        padding: 30px;
        margin-bottom: 30px;
        color: $color_dark;
        font-weight: 500;
        background: $color_white;
        border-left:5px solid $color_primary;
        box-shadow: 0 10px 15px 0 rgba($color_dark,0.1);
        q {
            font-style: italic;
            line-height: 2;
            &:before {
                margin-right: 5px;
            }
            &:after {
                margin-left: 5px;
            }
        }
    }
    .grid-gallery-item {
        margin-bottom: 30px;
    }
    .embed-responsive {
        margin-bottom: 30px;
        background: $color_white;
        box-shadow: 0 10px 15px 0 rgba($color_dark,0.1);
        iframe {
            padding: 20px;
        }
    }
}
/* ---------------------------------------------------------------- */
/* Responsive Media Query (tablets, less than 992px)
/* ---------------------------------------------------------------- */
@media only screen and (max-width: 991.98px) {
    .padding-minus-90 {
        padding-bottom: 90px;
    }
    .widget-sidebar {
        margin-top: 20px;
    }
    .sidebar-pb-resp {
        padding-bottom: 90px;
    }
    .recent-post-item {
        .recent-post-body {
            .recent-post-title {
                line-height: 1.5;
                font-size: 1rem;
            }
        }
    }
}
/* ---------------------------------------------------------------- */
/* Responsive Media Query (tablets, less than 992px)
/* ---------------------------------------------------------------- */
@media only screen and (max-width: 991.98px) {
    .blog-text {
        h4 {
            font-size: 1.6rem;
        }
    }
}