/* ---------------------------------------------------------------- */
/* 21.Breadcrumb                   
/* ---------------------------------------------------------------- */
.breadcrumb-section {
    z-index: 1;
    overflow: hidden;
    padding: 150px 0;
    position: relative;
    background-size: cover;
    background-repeat:no-repeat;
    background-position:center center;
    &:before {
        top: 0;
        right: 0;
        bottom: 0;
        width: 100%;
        height: 100%;
        content: "";
        opacity: 0.5;
        z-index: -1;
        position: absolute;
        background: $color_dark;
    }
    .breadcrumb-inner {
        h1 {
            font : {
                size: 2.5rem;
            }
            color: $color_white;
            margin-bottom: 15px;
        }
        .breadcrumb-links {
            li {
                color: $color_white;
                display: inline-block;
                vertical-align: middle;
                &.active {
                    &:before {
                        content: "\f30b";
                        display: inline-block;
                        margin-left: 10px;
                        margin-right: 10px;
                        vertical-align: middle;
                        color: $color_white;
                        font: {
                            family: "Font Awesome 5 Free";
                            weight: 700;
                        }
                    }
                }
                a {
                    color: $color_white;
                    &:hover {
                        text-decoration: underline;
                    }
                }
            }
        }
    }
}