/* ---------------------------------------------------------------- */
/* 10.Hero                            
/* ---------------------------------------------------------------- */
.hero-section {
	z-index: 1;
	display: flex;
	overflow: hidden; 
	padding-top: 195px;
	padding-bottom: 195px;
	position: relative;
	align-items: center;
	background-size: cover;
	background-position: center center;
	background-repeat: no-repeat;
	&:after {
		top: 0;
		left: 0;
		z-index:-5;
		content: "";
		width: 100%;
        height: 100%;
		opacity: 0.5;
		position: absolute;
		background: $color_dark;
	}
}
.hero-inner {
	z-index: 15;
	position: relative;
	h1 {
		margin-bottom: 20px;
		color: $color_white;
		//text-transform: capitalize;
		span {
			font-style: italic;
			font-weight: 700;
			text-decoration: underline;
		}
	}
	p {
		opacity: 0.75;
		color: $color_white;
		margin: 0 0 40px;
		font-family: $font_text;
		font-weight: 400;
	}
	h6 {
		//text-transform: capitalize;
		color:$color_white;
		margin-bottom: 10px;
		font-weight: 400;
		&::before {
			content: "";
			width: 20px;
			height: 2px;
			vertical-align: middle;
			margin-right: 10px;
			background: $color_white;
			display: inline-block;
		}
	}
	.hero-btn {
		display: flex;
		align-items: center;
		a.primary-btn {
			margin-right: 10px;
		}
	}
}
#heroparticles {
    width: 100%;
    height: 100%;
    position: absolute;
    background-color: transparent;
    background-repeat: no-repeat;
    background-size: cover;
    background-position: 50% 50%;
}
#hero_video {
	z-index: 1;
    width: 100%;
    display: flex;
    overflow: hidden;
    position: relative;
    align-items: center;
	background-size: cover;
	object-fit: scale-down;
    background-repeat:no-repeat;
	background-position:center center;
	&:after {
		display: none;
	}
    .hero-overlay {
        height: 100%;
        width: 100%;
        position: absolute;
        top: 0;
        left: 0;
		opacity: 0.5;
		pointer-events: none;
        background: $color_dark;
    }
}
#heroSliderWrap {
	padding: 0;
    #hero-slider {
        &.owl-carousel {
			.owl-dots {
				display: none;
			}
            .owl-nav {
                 margin-top: 0;
            }
            button.owl-next, button.owl-prev {
                top: 50%;
                margin: 0;
                padding: 0;
                width: 60px;
                height: 60px;
                color: $color_white;
                border-radius:0;
                text-align: center;
                line-height: 60px;
                position: absolute;
                display: inline-block;
                background: rgba($color_white, 0.08);
                transition: all 0.5s ease;
                transform: translateY(-50%);
                &:hover {
                    background: $color_white;
                    color: $color_primary;
                }
            }
            button.owl-next{
                right: 15px;
              
            }
            button.owl-prev {
                left: 15px;
            }
            .owl-dots {
                position: absolute;
				bottom: 15px;
				left: 15px;
                .owl-dot {
                    span {
                        width: 20px;
                        height: 7px;
                        margin: 0 5px;
                        display: block;
                        border-radius: 0;
                        background: rgba($color_white, 0.2);
						transition: all .25s ease;
						&:hover {
							background: $color_white;
						}
                    }
                    &.active {
                        span {
                            background: $color_white;
                        }
                    }
                }
            }
        }
    }
    .item {
        display: flex;
        overflow: hidden;
        max-width: 100%;
        width: 100%;
        z-index: 1;
        position: relative;
		align-items: center;
		padding-top: 195px;
		padding-bottom: 195px;
        background-size: cover;
        background-repeat:no-repeat;
        background-position:center center;
        &:before {
            top: 0;
            right: 0;
            bottom: 0;
            width: 100%;
            height: 100%;
            content: "";
            opacity: 0.5;
            z-index: -1;
            position: absolute;
            background: $color_dark;
        }
    }
}
.intro-hero-section {
	z-index: 1;
	overflow: hidden; 
	padding-top: 195px;
	padding-bottom: 195px;
	background: $color_dark;
	position: relative;
	align-items: center;
	background-size: cover;
	background-position: center center;
	background-repeat: no-repeat;
    .intro-hero-subtitle {
        color: $color_white;
        opacity: 0.75;
        font-weight: 300;
        margin-bottom: 30px;
    }
    .intro-hero-title {
        color: $color_white;
        font-size: 2rem;
        font-weight: 500;
        margin-bottom: 20px;
        span {
            font-size: 3.5rem;
            font-weight: 700;
            margin-bottom: 10px;
            display: block;
            text-transform: uppercase;
            margin: 0 auto 15px auto;
        }
	}
	.hero-btn {
		.primary-btn {
			&:after {
				background: lighten($color_dark,4%);
			}
		}
	}
}
.demo-item {
    margin-bottom: 30px;
    position: relative;
    transition: all 0.4s ease;
	box-shadow: 0 10px 15px 0 rgba($color_dark,0.1);
    .demo-title {
        padding:30px 0;
        display: block;
        text-align: center;
        color: $color_black;
        font-size: 1.2rem;
        font-weight: 600;
        background: $color_white;
        //text-transform: capitalize;
    }
    .demo-img {
        overflow: hidden;
        position: relative;
    }
    .demo-item-link {
        padding: 30px;
        display: block;
        font-weight: 600;
        font-size: 1.125rem;
        background: $color_white;
        color: $color_black !important;
        transition: all 0.25s ease;
    }
    &:hover {
        .demo-item-link {
            color: $color_white !important;
            background: $color_primary;
        }
    }
}
.features-item {
	padding: 30px;
	text-align: center;
	margin-bottom: 30px;
	position: relative;
	background: $color_white;
	transition: all 0.4s ease;
	&:hover {
		box-shadow: 0 10px 15px 0 rgba($color_dark,0.1);
	}
	.features-icon {
		margin-bottom: 20px;
	}
	.features-text {
		h5 {
			font-size: 1.125rem;
		}
	}
}
/* ---------------------------------------------------------------- */
/* Responsive Media Query (less than 768px)
/* ---------------------------------------------------------------- */
@media only screen and (max-width: 768px) {
	.hero-inner {
		.hero-title {
			font-size: 2.5rem;
		}
	}
}
/* ---------------------------------------------------------------- */
/* Responsive Media Query (less than 576px)
/* ---------------------------------------------------------------- */
@media only screen and (max-width: 576px) {
	.hero-section {
		padding-top: 60px;
		padding-bottom: 50px;
	}
	#heroSliderWrap {
		.item {
			padding-top: 60px;
			padding-bottom: 50px;
		}
		#hero-slider {
			&.owl-carousel {
				.owl-dots {
					display: block;
				}
				.owl-nav {
						margin-top: 0;
				}
				button.owl-next, button.owl-prev {
					display: none;
				}
			}
		}
	}
	.hero-inner {
		p {
			font-size: 0.9rem;
			margin-bottom: 20px;
		}
		h1 {
			font-size: 1.6rem;
			margin-bottom: 15px;
		}
		.hero-btn {
			flex-direction: column;
			align-items: flex-start;
			a {
				margin-bottom: 10px;
			}
		}
	}
	.intro-hero-section {
        .intro-hero-title {
            font-size: 1.4rem;
            span {
                font-size: 2.2rem;
            }
        }
    }
}